@font-face {
    font-family: 'ProximaNova-Black';
        src:  
        local('ProximaNova-Black'), 
        url('https://nomail.com.ua/files/eot/aa46d234cf405126cdd1c36600e4b978.eot?#iefix') format('embedded-opentype'),        
        url('https://nomail.com.ua/files/woff/aa46d234cf405126cdd1c36600e4b978.woff') format('woff'),
        url('https://nomail.com.ua/files/woff2/aa46d234cf405126cdd1c36600e4b978.woff2') format('woff2');
    }
    *,*:after, *:before {
        box-sizing: border-box;
    }
body {
    background: #070506 url('../img/main-bg.jpg')no-repeat 500px;
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 90%;
    margin:  auto;
    max-width: 1060px;
}
.header {
    padding-top: 90px;
    display: flex;
    align-items: center;
}
.header__logo {
    margin-right: 70px;
}
.nav__link {
    text-decoration: none;
    color: white;
    margin-right: 15px;
}
.hero__subtitle {
    font-size: 40px;
    line-height: 100%;
    margin-top: 78px;
    display: block;
    font-family: 'ProximaNova-Black', sans-serif;
}
.hero__title {
    margin-top: 5px;
    font-weight: 900;
    font-size: 64px;
    line-height: 78px;
    font-family: 'ProximaNova-Black', sans-serif;
    margin-bottom: 25px;
}
.hero__description {
    font-size: 18px;
    line-height: 150%;
    color: #AFAFAF;
    max-width: 572px;
}
.hero__premiere {
    font-size: 18px;
    line-height: 150%;
    color: #B02000;
    display: block;
    margin-bottom: 5px;
}.hero__date {
    font-size: 24px;
    line-height: 150%;
    display: block;
    margin-bottom: 46px;
}
.button-play {
    text-decoration: none;
    outline: none;
    position: relative;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    border: none;
    color: white;
    background: linear-gradient(90deg, #FB641A 0%, #FC3309 100%);
    border-radius: 300px;
    padding: 25px 35px;
    padding-right: 80px;
    display: inline-block;
}
.button-play:after {
    content: '';
    position: absolute;
    width: 65px;
    height: 65px;
    background: #fff url('../img/play.svg')center no-repeat;
    right: 0;
    top: 0;
    border-radius: 50%;
}
.button-play:before {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    right: -8px;
    top: -8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
}
.episodes__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    padding-top: 60px;
    padding-bottom: 25px;
}
.slider {
    display: flex;
    flex-wrap: wrap;
}
.slider__item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    min-height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 30px;
    position: relative;
}
.slider__image{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}
.slider__item:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background: rgba(80, 80, 80, 0.86);
    transition: all 0.2s
}
.slider__item:hover:before {
    background: rgba(64, 101, 255, 0.86);
}
.slider__rating-label {
    margin-right: 10px;
}
.star {
    background: url('../img/stars.svg')no-repeat center;
    display: inline-block;
    width: 12px;
    height: 12px;
}
.star-o {
    background: url('../img/star-o.svg')no-repeat center;
}
.slider__nav--left {
    width: 32px;
    height: 32px;
    border: none;
    background: transparent url('../img/arrow-l.svg')no-repeat center;
    margin-right: 15px;
    cursor: pointer;
    outline: none;
}
.slider__nav--right {
    width: 32px;
    height: 32px;
    border: none;
    background: transparent url('../img/arrow-r.svg')no-repeat center;
    cursor: pointer;
    outline: none;
}
.slider__nav--left span, .slider__nav--right span {
    display: none;
}


@media (max-width: 600px) {
    .hero__title {
        font-size: 36px;
        line-height: 120%;
    }
    .hero__subtitle {
        font-size: 24px;
    }
    .hero__description {
        font-size: 16px;
    }
    .header {
        flex-direction: column;
        align-items: flex-start;
        font-size: 15px;
    }
    .header__logo {
        margin-bottom: 30px;
    }
    body {
        background: #070506 url('../img/main-bg.png')no-repeat -300px;
    }
    
}
@media (max-width: 300px) {
    .hero__title {
        font-size: 25px;
    }
    .hero__subtitle {
        font-size: 24px;
    }
    .hero__description {
        font-size: 15px;
    }
    .header {
        font-size: 12px;
    }
    .header__logo {
        margin-bottom: 10px;
    }
}