@import "nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap");

body {
  font-family: "Roboto Slab", serif;
  color: #2e2e2e;
}

a {
  color: #2e2e2e;
}

.container {
  max-width: 700px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.active {
  display: flex !important;
}

.hidden {
  display: none;
}

.absolute {
  position: absolute;
}

.navigation {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding-left: 2rem;
  padding-right: 2rem;
  &__link {
    padding: 1rem;
    &:hover {
      padding: 1rem;
      background-color: #d9ecf8;
      color: #076d92;
    }
  }
}

.header {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f5f8fa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  &__wrapper {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  &__title a {
    font-weight: 700;
    font-size: 3rem;
    color: #3a4145;
    &:hover {
      color: #076d92;
    }
  }
  &__avatar {
    width: 200px;
    height: 200px;
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.5rem;
  }
  &__subtitle {
    padding-top: 1rem;
    font-size: 3rem;
    text-align: center;
    span {
      color: #076d92;
    }
  }
}

.about {
  margin-top: 5rem;
  &__wrapper {
    display: flex;
    gap: 4rem;
  }
  &__title {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
  }
  &__subtitle {
    font-size: 1.3rem;
    line-height: 1.75rem;
    a {
      color: #076d92;
      font-weight: 700;
    }
  }
  &__list {
    font-weight: 700;
  }

  &__social {
    gap: 1.3rem;
    font-size: 1.3rem;
    line-height: 1.75rem;
    display: flex;
    flex-direction: column;
    a {
      &:hover {
        color: #076d92;
      }
    }
    img {
      width: 25px;
      height: 25px;
    }
  }
}

.portfolio {
  margin-top: 5rem;

  &__container {
    max-width: 1000px;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
  }
  &__preview {
    display: flex;
    width: 1000px;
    height: 350px;

    &:hover .portfolio__block {
      background-color: black;
      color: white;
    }
  }
  &__app {
    display: flex;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.4rem;
    margin-bottom: 2rem;
    transition: background-image 0.2s;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }

  &__block {
    background-color: #fff;
    padding: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    transition: background-color 1s;
  }
}

.music {
  background-image: url(../img/application/myMusicBlack.jpg);
  &:hover {
    background-image: url(../img/application/myMusicWhite.jpg);
  }
}

.delivery {
  background-image: url(../img/application/delivery.jpg);
  &:hover {
    background-image: url(../img/application/deliveryRest.jpg);
  }
}

.delivery {
  background-image: url(../img/application/delivery.jpg);
  &:hover {
    background-image: url(../img/application/deliveryRest.jpg);
  }
}

.interior {
  background-image: url(../img/application/interiorMain.jpg);
  &:hover {
    background-image: url(../img/application/interior.jpg);
  }
}

.animation {
  background-image: url(../img/application/animation.png);
  &:hover {
    background-image: url(../img/application/animationHover.png);
  }
}

.gameCard {
  background-image: url(../img/application/gameCard.png);
  &:hover {
    background-image: url(../img/application/gameCardStart.png);
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  bottom: 0;
  margin-top: 2rem;
  height: 50px;
  width: 100%;
  &__copyright {
    font-size: 1.3rem;
    color: #aaa;
  }
}

@import "mobile";
