@media (max-width: 1230px) {
    .top {
        &__content {
            align-items: center;
            padding-top: 25%;
        }

        &__heading {
            font-size: 32px;
            line-height: 39px; 
            display: flex;
            justify-content: center;
            width: 343px;
            text-align: center;
        }

        &__title {
            font-size: 14px;
            line-height: 22px;
            width: 343px;
            text-align: center;
        }
    }

    .seasons {
        gap: 32px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }    
}

@media (max-width: 767px) {
    .top {
        &__content {
            align-items: center;
            padding-top: 25%;
        }

        &__heading {
            font-size: 32px;
            line-height: 39px; 
            display: flex;
            justify-content: center;
            width: 343px;
            text-align: center;
        }

        &__title {
            font-size: 14px;
            line-height: 22px;
            width: 343px;
            text-align: center;
        }
    }

    .games__menu {
        width: 343px;
    }

    .seasons {
        margin-bottom: 85px;
        margin-top: 51px;

        &__game {
            align-items: center;
        }

        &__title {
            font-size: 14px;
            line-height: 22px;
            width: 343px;
            text-align: center;
        }

        &__button {
            display: flex;
        }

        &__art {
            width: 344px;
        }

        &__heading {
            font-size: 32px;
            line-height: 39px;
        }

    }
}
 
@media (max-width: 343px) {
    .top {
        &__content {
            padding-top: 70%;
        }
    }

    .games__menu {
        width: 300px;
    }
}