* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000915;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
} 

a {
    text-decoration: none;
}

.top {
    background-image: url(../img/topback.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    &__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        color: #FFFFFF;
        width: 789px;
    }
    
    &__content {
        padding-top: 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    &__title {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        width: 481px;
        margin-bottom: 12px;

        &-bold {
            font-weight: 700;
        }
    }

    &__button {
        padding: 13px 74px;
        background: #9C0332;
        border-radius: 30px;
        color: #FFFFFF;
        font-style: normal;
        display: flex;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        transition: background 0.5s;
        &:hover {
            background: #EB443F;
        }
    }
}

.games {
    display: flex;
    padding: 128px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    
    &__menu {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        display: flex;
        color: #FFFFFF;
        padding: 32px;
        min-height: 300px;
        width: 378px;
        box-sizing: border-box;
        border-radius: 16px;
        align-items: flex-end;
        &:hover {
            border: 3px solid #44D2FF;
        }

        &__item {
            &_1 {
                background-image: url(../img/game_1.jpg);
            }
            &_2 {
                background-image: url(../img/game_2.jpg);
            }
            &_3 {
                background-image: url(../img/game_3.jpg);
            }
        }
    }

}

.seasons {
    margin-top: 233px;
    margin-bottom: 233px;
    display: flex;
    justify-content: space-between;

    &__game {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: flex-start;
        margin-top: 49px;
    }

    &__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        color: #FFFFFF;
    }

    &__title {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        width: 584px; 
    }

    &__button {
        padding-right: 90px;
    }

    &__art {
        display: flex;
    }
}

.remember {
    flex-direction: row-reverse;
}


@import 'media';